
.text-header {
    color: #5a3733;
    font-family: Open Sans,sans-serif;
    font-size: 19px;
}
.burger-meny {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.honey-bee {
    color: #5a3733;
    font-family: Times New Roman;
    font-size: 30px;
   }
.block {
    height: 1200px;
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
    background: url('../honey-bacgraund.jpg');
}
.body {
    padding: 30px;
}
.organic-honey {
    text-align: left;
    color: #eb6d2f!important;
    font-size: 14px;
    line-height: 1;
    letter-spacing: .1em;
    padding: auto;
    margin: 10px;
    font-family: "Open Sans", sans-serif;
}
.paragraf {
    font-size: 110px;
    color: #5a3733;
    font-family: Open Sans;
}
.text-honey {
     text-align: left;
     color: rgb(65,57,57);
     margin: 10px;
     font-family: 'Open Sans',sans-serif;
     font-size: 18px;
}
.clock {
    text-align: center;
    color: brown;
    height: 55px;
    font-size: 45px;
}
.countdown {
    text-align: center;
    color: cornflowerblue;
    font-size: 40px;
}
